<p>
  car-component works!
</p>
<div>There are {{totalCars()}} at this page</div>
<div *ngFor="let car of this.cars" [class.featured]="car.featured">
  <div class="photo">
    <img [src]="car.image" (click)="increaseNumber(car);">
    <!--[] - html to js binding, () - js to html binding-->
  </div>
  <div> {{car.vendor | uppercase }} </div>
  <div> {{car.model }}</div>
  <div> {{car.price | currency:'USD':true}}</div>
  <input type="text" [(ngModel)]="car.number">
  <!--two-way binding-->
</div>